from flask import Flask

{% set files = hostvars['localhost']['flist']['files'] %}
{% for my_idx in range(files|length) %}
from functions.{{(files[my_idx].path | basename).split('.')[0]}} import *
{% endfor %}

app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'Hello, World!'

{% set json = hostvars['localhost']['functionsJson'] %}
{% for my_idx in range(json|length) %}
@app.route('/{{(json[my_idx].FunctionFile)}}-{{(json[my_idx].FunctionName)}}')
def {{(json[my_idx].FunctionName)}}({% for f_idx in range(json[my_idx].Parameters|length) %}{{json[my_idx].Parameters[f_idx]}}{% if (f_idx < json[my_idx].Parameters|length -1) %}, {% endif %}{% endfor %}):
    x = {{(json[my_idx].FunctionName)}}()
    return x

{% endfor %}

# @app.route('/f2')
# def func2():
#     x = function2()
#     return x