from flask import Flask
from flask import request
{% set files = funcfiles %}{% for my_idx in range(files|length) %}
from functions.{{(files[my_idx]['FunctionFile'])}} import *{% endfor %}

app = Flask(__name__)

@app.route('/')
def hello_world():
    msg = "Welcome to FuncFlasker"
    if request.method == 'POST':
        return msg
    else:
        return msg
{% for my_idx in range(files|length) %}{% set numparams = files[my_idx].Parameters|length %}
@app.route('/{{(files[my_idx].FunctionName)}}{% if numparams > 0 %}{% endif %}', methods=['POST'])
def {{(files[my_idx].FunctionFile)}}_{{(files[my_idx].FunctionName)}}():
    {% for f_idx in range(numparams) %}{{files[my_idx].Parameters[f_idx]}} = request.args.get('{{files[my_idx].Parameters[f_idx]}}','N/A')
    {% endfor %}x = {{(files[my_idx].FunctionName)}}({% for f_idx in range(numparams) %}{{files[my_idx].Parameters[f_idx]}}{% if (f_idx < numparams -1) %}, {% endif %}{% endfor %})
    return x{% endfor %}